.grid-container{
    display: inline-block;
    border: 1px solid black;

}

body{
    background-color: #eee;
    padding: 10px;
}

.person-name{
    color : green;
    text-align: left;
}

.dev-text{
    color:black;
    text-align: right;
}