*{
    padding: 0;
    margin :0;
}

.teaser-container{
    background-color: #eee;
    text-align: center;
    border: 1px solid ;
    padding: 20px;
}
.teaser-container > section{
    display: inline-block;
}

.teaser-content {
    color: blue;
}

.teaser-image{
    margin-right: 100px;
}

h1 + ul{
    line-height: 25px;
    margin-top: 25px;
}

section > a {
    color: white;
    margin-top: 20px;
    background-color: blue;
    border: 20px solid rgb(38, 0, 255);
    border-radius: 20px;
}